.description {
	text-align:center;
	color: #2c3e50;
	margin-bottom: 20px;
}

.input-label {
	padding-left: 15px;
}

.seed-artist {
	text-align: center;
	display: block;
}

.seed-genre {
	text-align: center;
	display: block;
}

#hwrapper h1 {
	margin-bottom: 21px;
}
.list-group {
	margin-bottom: 40px;
}

p.artistName {
	margin-bottom: 0px;
	cursor: pointer;
}
